*{
    margin: 0;
}
#recuadro1{
    border-radius: 20px;
    background-color: aqua;
    width: 200px;
    padding: 10px;
    /* transform: translate(25px,10px);
       transition: all 3500ms; */
    transition: all 5s;
}
#recuadro2{
    border-radius: 20px;
    background-color: antiquewhite;
    width: 200px;
    padding: 10px;
    margin-top: 50px;
}
body{
    background: white;
    margin: 50px;
}
#recuadro1:hover{
    /* background-color: blue;
    color: white; 
    transform: translate(50px,30px) transmite (+-x,+-y);
    transform: translatex(-200px);
    transform: translateY(-200px);
    transform: rotate(100deg);
    transform: scale(0,1.5); escala(x,y) donde 1<x ó y>7 se agranda o disminuye*/
    transform: skew(35deg);
    opacity: 0.7;
}